.card-container {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  justify-content: center;
  place-items: center;
  width: 300px;
  height: 200px;
  align-items: center;
  margin: auto;
  position: relative;
  overflow: hidden;
  
}
.imgInDiv{
  position: absolute;
  top: 25px;
  margin-bottom: 100px;
  /* left: 10px; */
}
.host-info{
  position: absolute;
  top: 100px;
  margin-bottom: 100px;
  /* left: 10px; */
  
}
.card-container:hover {
  transform: scale(1.05);
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
}
